@import 'mixins'
@import 'default'



.menu
	list-style-type: none
	display: flex
	padding: 0
	margin: 0
	li
		margin-left: 20px

.header
	padding: 20px 0
	box-shadow: 0 1px 1px rgba(6,8,8,.1)
	&__brand
		width: 90px