@media only screen and (min-width: 768px) {
  .fw-container {
    width: 750px; } }
@media only screen and (min-width: 992px) {
  #sandwich {
    display: none; }

  .fw-container {
    width: 970px; } }
@media only screen and (min-width: 1200px) {
  .fw-container {
    width: 1170px; }

  .mega-container .sh-column-wrapper {
    width: 555px; }
  .mega-container.mega-left .sh-column-wrapper {
    float: right; }
  .mega-container.mega-right .sh-column-wrapper {
    float: left; } }
@media only screen and (min-width: 1550px) {
  .fw-container-midd {
    width: 1520px; } }
