
@media only screen and (max-width: 1199px) {
	/*.centered {
		display: flex;
	}*/
	.header {
		height: calc(100vh);
		max-width: 350px;
	}
	/*.hidde-logo {
		display: none;
	}*/
	h1 {
		font-size: 29px;
	}
	h2 {
		font-size: 19px;
	}
	p.hidden-xs {
		max-width: 230px;
	}
	/*.down {
		max-width: 230px;
	}*/
}
@media only screen and (max-width: 992px) {
	.centered {
		display: flex;
	}
	.hidde-logo {
		display: none;
	}
	.header {
		height: calc(77vh);
		width: 440px;
	}
	input {
		margin: 10px 0;
	}

	.third {
		margin-top: 100vh;
	}
	.right-side {
		width: 100%;
		transform: translateY(calc(-100vh - 6px));
	}
	.left-side {
		width: 100%;
		transform: translateY(100vh);
	}
	.footer-logo {
		bottom: -300vh;
	}
	.navigator {
		display: none;
	}
	.footer-logo {
		margin-right: 10px;
	}
	.carousel-control {display: block;}
}
@media only screen and (max-width: 460px) {
	.centered {
		width: 100px;
		height: 150px;
		transform: translate(150px, -160px);
	}
	.header {
		height: 72vh;
		width: 100%;
	}
	img {
		height: 150px;
		width: 100px;
		padding: 15px 10px;
	}
	.btn-logo {
		margin: 0 15px;
	}
}