@font-face {
	font-family: "AAvanteTitlerCpsLCLight";
	src: url("../fonts/my_fonts/A_AVANTETITLERCPSLC_LIGHT.TTF");
}
@font-face {
	font-family: "QuizaraPro";
	src: url("../fonts/my_fonts/QUIZAPRO-LIGHTOTF.OTF");
}
@font-face{
	font-family: "QuizaraProBold";
	src: url("../fonts/my_fonts/QUIZAPRO-BOLD.OTF");
}
@font-face{
	font-family: "QuizaraProSemiBold";
	src: url("../fonts/my_fonts/QUIZAPRO-SEMIBOLD.OTF");
}
@font-face{
	font-family: "PFBagueSansPro";
	src: url("../fonts/my_fonts/PF BAGUE SANS PRO MEDIUM.OTF");
}
@font-face{
	font-family: "QUIZAPRO-SEMIBOLDITALIC";
	src: url("../fonts/my_fonts/QUIZAPRO-MEDIUMITALIC.OTF");
}

* {
	color: white;
	font-family: "QuizaraPro";
	-webkit-font-smoothing: antialiased;
	/*-webkit-overflow-scrolling: touch;*/
}
.first {
	background: url('../img/home.jpg') center center no-repeat;
	background-size: cover;
}
.container-fluid {height: 100vh;}
.pad{padding: 0;}
h1 {
	text-transform: uppercase;
	font-size: 57px;
}
h2 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 40px;
}
p {
	font-size: 16px;
	margin: 10px 0;
	font-family: "QuizaraProSemiBold";
}
.red {color: #DD1927;}
.red-bg {background: #DD1927;}

#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}

#window{
	width: 650px;
	height: 400px;
	margin: 50px auto;
	display: none;
	background: #DD1927;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	text-align: center;
}
#window:after {
	content: '';
	position: absolute;
	right: 52px;
	top: 0;
	width: 3px;
	height: 100%;
	background: white;
}
#window .text p,h1 {color: white; text-align: center;}
.glyphicon-remove{
	font-size: 30px;
	background: #DD1927;
	color: #A8121B;
	border: 3px dotted #A8121B;
	border-radius: 50px;
	padding: 10px;
	position: absolute;
	right: 25px;
	top: 45px;
	z-index: 98;
}
.carousel-control {cursor: pointer;}

.num {min-width: 100%;}
#typeNum {
	background: none;
	color: #DE1826;
	font-size: 22px;
	font-weight: 700;
	margin-right: 10px;
	margin-top: -5px;
}
input {
	color: white;
	margin: 25px 0;
	/*width: 250px;*/
	background: none;
	border: none;
	border-bottom: 1px solid #DE1826;
}
.btn-default {
	margin-left: 50px;
	width: 200px;
	color: white;
	border: none;
	border-radius: 0px;
	background: #DD1927;
	text-align: center;
}
p.hidden-xs {
	/*max-width: 400px;*/
}

.lines {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	margin-top: 10px;
	overflow: hidden;
}
.lines .line{
	display: block;
	min-width: 3px;
	height: 410px;
	background: #0e0e0e;
	margin-right: 40px;
	/*margin-top: 10px;*/
}
.lines .line:nth-child(2) {height: 390px;}
.lines .line:last-child {
	background: #DE1826;
	margin-right: 5px;
	margin-top: 68px;
	height: 312px;
}
.lines span {
	display: inline-block;
	position: absolute;
	transform: rotate(-90deg) translate(-10px,15.5px);
	color: #CE1F32;
	font-family: "AAvanteTitlerCpsLCLight";
	font-size: 40px;
}
.li {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50px;
	background: red;
	transform: translateX(-2.5px);
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	top: -8px;
}

@keyframes down_line_1 {
	0% {
		top: -8px;
	}
	100% {
		top: 410px;
	}
}
@keyframes down_line_3 {
	0% {
		top: -8px;
	}
	100% {
		top: 382px;
	}
}
@keyframes down_line_5 {
	0% {
		top: 70px;
	}
	100% {
		top: 370px;
	}
}
.containerr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.up {
	width: 200px;
}
.logo {
	height: 250px;
	width: 400px;
}
.header {
	min-width: 320px;
	max-width: 580px;
	height: calc(100vh);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
}
img {
	display: inline-block;
	max-width: 200px;
	max-height: 250px;
	background: #141414;
	padding: 35px 15px;
}
.centered {
	height: 250px;
	width: 200px;
	transform: translate(220px, -260px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.left-side {
	display: inline-block;
	width: 45%;
	height: 100vh;
	background: #DD1927;
}
.right-side {
	display: inline-block;
	position: absolute;
	width: 55%;
	height: 100vh;
	background: #E8E8E8;
}
.carousel-control {
	display: none;
	top: calc(100vh - 50px);
	width: 40px;
	height: 50px;
	background-image: none !important;
	background: #DD1927;
	border-radius: 5px 5px 0px 0px;
	opacity: 1;
}
.carousel-control.left {left: calc(50% - 50px)}
.carousel-control.right {right: calc(50% - 50px)}

.img{
	background: url("../img/1.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}

.big {
	color: #D8D8D8;
	font-size: 310px;
	font-family: "PFBagueSansPro";
	margin-right: -50px;
}
.text-center {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.text {
	text-align: left;
}
.text h3 {
	font-size: 38px;
}
.text {
	color: #141414;
	max-width: 400px;
}
.text p {
	color: #5E5E5E;
}
.img1{
	background: url("../img/1.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img2{
	background: url("../img/2.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img3{
	background: url("../img/3.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img4{
	background: url("../img/4.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img5{
	background: url("../img/5.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img6{
	background: url("../img/6.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img7{
	background: url("../img/7.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img8{
	background: url("../img/8.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.img9{
	background: url("../img/9.png") center no-repeat;
	background-size: 320px;
	height: 100vh;
}
.item {
	width: 100%;
	height: 100vh;
	z-index: 5;
}
#box {overflow: hidden;}
.l1 {z-index: 6}
.l2 {z-index: 7}
.wrap_block {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100vh;
	top: -100vh;
}
.list_block {
	list-style-type: none;
	position: relative;
}
.block {
	background: #adadad;
	position: relative;
	z-index: 1;
}
.block1 {
	left: calc(100% - 110px);
	top: 45px;
	width: 60px; height: 60px;
}
.block2 {
	left: calc(100% - 350px);
	top: 10px;
	width: 50px; height: 50px;
}
.block3 {
	left: calc(100% - 230px);
	top: 15px;
	width: 150px; height: 150px;
}
.block4 {
	left: calc(100% - 480px);
	top: 100px;
	width: 130px; height: 130px;
}
.block5 {
	left: calc(100% - 150px);
	top: 50px;
	width: 70px; height: 70px;
}
.block6 {
	left: calc(100% - 550px);
	top: 50px;
	width: 50px; height: 50px;
}


.third {
	background: url('../img/footer.jpg') center center no-repeat;
	background-size: cover;
}
.txt {
	max-width: 450px;
	text-align: left;
}
.txt p small {
	display: inline-block;
	max-width: 320px;
	font-size: 12px;
	text-align: left;
}
.center {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.txt button {
	margin: 0;
}
.txt input {
	width: calc(100% - 130px);
}

.third .text-center {
	width: 400px;
	margin: 0 auto;
}
.footer-logo {
	position: absolute;
	bottom: -200vh;
	margin-right: 40px;
	margin-bottom: 25px;
	right: 0;
	width: 90px;
	height: 150px;
	background: url("../img/Logo.svg") no-repeat;
}


.navigator {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 25px;
	margin-bottom: 25px;
}
.link-nav {
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #DD1927;
	border-radius: 50px;
	margin-top: 10px;
}
.nav-2 {bottom: -100vh;}
.nav-3 {bottom: -200vh;}
/*.text-center img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 250px;
}*/







