@import 'mixins'
@import 'vars'
@import 'reset'


+grid-preloader($red)
+font('Agora-Regular', 'Agora-Regular', $type:'ttf', $path:'font/')
+font('Agora-Medium', 'Agora-Medium', $type:'ttf', $path:'font/')

// reset
html
	font-family: sans-serif
	line-height: 1.15
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-ms-overflow-style: scrollbar
	-webkit-tap-highlight-color: transparent

body
	background-color: $wh
	color: $text
	font-family: $ff-1
	margin: 0
	padding: 0
	font-weight: 400
	line-height: 1.5
	color: $text
	text-align: left
	font-size: 100%

+links(inherit)
	text-decoration: none

+inputs()

img, svg, iframe
	max-width: 100%
	height: auto
	// height: inherit

ul
	padding-left: 0
	margin: 0
	list-style-type: none

.upper
	text-transform: uppercase
	
.m-top
	margin-top: 30px

.color
	&-black
		color: $text-s

.fz
	&-11
		font-size: 11px
	&-10
		font-size: 10px
	&-9
		font-size: 9px

.margin
	&-25_0
		margin-top: 25px
		margin-bottom: 25px
// main
// .dtc
// 	display: table-cell
// .vam
// 	vertical-align: middle


// .float-right
// 	float: right
// .float-left
// 	float: left


// .position-absolute
// 	position: absolute

// .right-0
// 	right: 0
// .left-0
// 	left: 0


// .clr
// 	*
// 		zoom: 1
// 	&:after
// 		content: " "
// 		display: table
// 		clear: both


// .w100p
// 	width: 100%
// .w100p-img
// 	img
// 		width: 100%
// .w50p
// 	width: 50%


// .video-wrapper
// 	+iframe