@import 'mixins'
@import 'vars'

// col    <   576px
// col-sm >=  576px
// col-md >=  768px
// col-lg >=  922px
// col-xl >= 1140px


// eventos hide stuff index
// add js code for piso
// tab for button piso
// window collapse for desc piso
// add google maps

	// novidades change css in page
	// add input for search 
	// add arrow for tab shoping



+w(767)
	.text-center-sm
		text-align: center
	.w100p-sm
		width: 100%
	.margin-sm
		&-10_0
			margin-top: 10px
			margin-bottom: 10px

	.margin
		// &-25_0
		// 	margin-top: 25px
		// 	margin-bottom: 25px
		&-b
			&40
				margin-bottom: 10px
			// &65
			// 	margin-bottom: 65px
			&85
				margin-bottom: 35px
		// &-t30
		// 	margin-top: 30px

	.padding-sm
		&-0
			padding: 0

	body:not(.home) footer,
	.line:after,
		display: none


	body:not(.home)
		.section__head
			.section__title
				&:before
					content: ''
					position: absolute
					left: 0
					bottom: -10px
					width: 40px
					height: 3px
					background-color: $text


	+sandwich($text-s, 35px, 100%)
		z-index: 3
		position: relative
	.sandwich-wrap
		height: 45px
		
	.logo
		height: 45px
	.slogo
		font-size: 7px
		margin: 0 10%

	.overline
		padding: 0
		margin: 20px 0
		&:after
			display: none

	.tablinks.italic
		font-style: normal
			


	.home
		.header
			border-bottom: 5px solid $grey
		.footer
			border-top: none

	.menu,
	.search
		display: none

	.header
		border-top: 5px solid $text
		.menu
			padding-top: 30px
			li
				margin: 15px 0


	.section
		&-margin_big
			margin-top: 20px
			margin-bottom: 20px
		&__head
			.section__under,
			.post__more
				display: none

		&__instagram
			font-size: 10px

		.trendy
			+clr
			margin: 10px 0
			&__image
				float: left
				display: inline-block
				width: 50%
			&__content
				border: none
			.post
				&__title
					position: relative
					&:before
						content: ''
						position: absolute
						width: 50px
						height: 4px
						background-color: $text
						top: -7px		

				&__more
					display: none

		.novidades
			padding: 0
			&__image
				width: 80%
			&__content
				position: absolute
				bottom: 0
				right: 0
			.post
				&__more
					display: none

		
	.page-novidades,
	.single-novidades,
		.section__novidades
			.novidades
				margin: 20px 0
				padding: 0 15px
				+tr(400ms ease-out)
				&:after
					top: auto
					bottom: 0
					border-left-color: $text
				&__image
					width: auto
				&__content
					position: relative
					margin-left: 0
					margin-right: 20%

	.page-eventos
		.section__eventos
			.eventos
				margin: 10px 0
				&:after
					top: auto
					border-left-color: $text
					right: 25px
					bottom: 5px
				&__content
					padding: 15px
				.post__title
					margin: 0
				&:hover
					&:after
						border-left-color: $w
					.post__title
						color: $w



	.page-novidades
		.section__novidades
			.novidades
				.post__date
					display: none
				&:hover
					.post__title
						color: $w
					.novidades__content
						background-color: $text

	.page-trendy
		.section__trendy
			.trendy
				&:after
					top: auto
					bottom: 10px
					border-left-color: $text-s
				&__image
					width: 100%
					float: none
				&__content
					width: 100%
					border: 5px solid transparent
					// border-top: 0
					padding-bottom: 1.25rem
				.post__title
					color: $text-s
					&:before
						display: none

				&:hover
					&:after
						border-left-color: $text
					.trendy__content
						border: 5px solid $text
					.post__title
						color: $text




	.single
		.novidades__content,
		.eventos__content,
		.underline
			position: relative
			&:after
				content: ''
				position: absolute
				bottom: 0
				left: 12%
				width: 40px
				height: 3px
				background-color: $text			
		.eventos__content
			padding-bottom: 10px
			&:after
				left: 0
				bottom: 10px

	.page-eventos
		.section__eventos
			.eventos
				.post__more
					display: none
				&:hover
					.eventos__content
						background-color: $text

					
	
	html body
		.post
			&__date
				font-size: 0.6875rem

	.footer
		text-align: center
		padding: 20px 0 0 0
		background-color: $w
		color: $text
		&__header
			min-height: auto
		&-last
			padding: 0
		.social
			justify-content: center
			padding: 20px 0
			background: $text
		// .btn
		.btn-bg_white
			display: inline-block
			margin-top: 10px
			color: $w
			background-color: $text

	.grid-sm
		&-2
			display: grid
			grid-template-columns: 1fr 1fr
		&-1
			display: grid
			grid-template-columns: 1fr

	.category
		text-align: center
		
	.map-wrap
		margin-right: 0


	// typography
	body
		// font-size: 10px
		font-size: 11px
	// &__title
	// .overline
	// 	font-size: 1.5em

+mw(768)
	.arrow-sm-right,
	.page-novidades .section__novidades .novidades,
	.page-eventos .section__eventos .eventos,
	.page-trendy .section__trendy .trendy
		&:after
			display: none

+mw(1600)
	.section
		&__trendy
			.container
				position: relative
			.category__row
				position: absolute
				right: 0
				+translateX(100%)	

@media only screen and (max-width: 992px) and (min-width: 768px)
	.logo
		margin: 25px 0