@import 'mixins'
@import 'vars'

// col    <   576px
// col-sm >=  576px
// col-md >=  768px
// col-lg >=  922px
// col-xl >= 1140px



+w(768)
	.text-center-sm
		text-align: center
	.w100p-sm
		width: 100%
	.margin-sm
		&-10_0
			margin-top: 10px
			margin-bottom: 10px

	+sandwich($text-s, 35px, 100%)
		z-index: 3
		position: relative
	.sandwich-wrap
		height: 45px
		
	.logo
		height: 45px
	.slogo
		font-size: 7px
		margin: 0 10%

	.overline
		padding: 0
		margin: 20px 0
		&:after
			display: none
			


	.home
		.footer
			border-top: none

	.menu,
	.search
		display: none

	.header
		.menu
			padding-top: 30px
			li
				margin: 15px 0


	.section
		&__head
			.section__under,
			.post__more
				display: none

		&__instagram
			font-size: 10px

		.trendy
			+clr
			margin: 10px 0
			&__image
				float: left
				display: inline-block
				width: 50%
			&__content
				border: none
			.post
				&__title
					position: relative
					&:before
						content: ''
						position: absolute
						width: 50px
						height: 4px
						background-color: $text
						top: -7px		

				&__more
					display: none

		.novidades
			padding: 0
			&__image
				width: 80%
			&__content
				position: absolute
				bottom: 0
				right: 0
			.post
				&__more
					display: none
	
	html body
		.post
			&__date
				font-size: 0.6875rem

	.footer
		text-align: center
		padding: 20px 0 0 0
		background-color: $w
		color: $text
		&__header
			min-height: auto
		&-last
			padding: 0
		.social
			justify-content: center
			padding: 20px 0
			background: $text
		// .btn
		.btn-bg_white
			display: inline-block
			margin-top: 10px
			color: $w
			background-color: $text

	.grid-sm
		&-2
			display: grid
			grid-template-columns: 1fr 1fr
		&-1
			display: grid
			grid-template-columns: 1fr
	


	// typography
	body
		// font-size: 10px
		font-size: 11px
	// &__title
	// .overline
	// 	font-size: 1.5em

+mw(1600)
	.section
		&__trendy
			.container
				position: relative
			.category__row
				position: absolute
				right: 0
				+translateX(100%)