@import 'mixins'
@import 'vars'
@import 'reset'


+font('Roboto', 'Roboto-Regular', $type:'ttf', $path:'./font/')
+font('CenturyGothic', 'CenturyGothic', $type:'ttf', $path:'./font/')
+font('CenturyGothic-Bold', 'CenturyGothic-Bold', $type:'ttf', $path:'./font/')

// reset
html
	font-family: sans-serif
	line-height: 1.15
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-ms-overflow-style: scrollbar
	-webkit-tap-highlight-color: transparent

body
	background-color: $wh
	color: $text
	font-family: $ff-ro
	margin: 0
	padding: 0
	font-weight: 400
	line-height: 1.2
	color: $text
	text-align: left
	font-size: 100%
	box-sizing: border-box
	overflow-x: hidden

+links(inherit)
	text-decoration: none
	cursor: pointer

+inputs()

img, svg, iframe
	max-width: 100%
	height: auto
	// height: inherit


.shadow
	box-shadow: $shadow

// .ul
ul
	list-style-type: none
	padding-left: 0
	margin-bottom: 0
	.submenu
		padding-left: 20px

.under
	text-decoration: underline

.text
	&-center
		text-align: center


.letter
	letter-spacing: 0.05em
	// &-25
	// 	letter-spacing: 0.25em


.font
	font-size: 16px
	color: $black
	&-12,
	small
		font-size: 12px
	&-18
		// font-size: 18px
		font-size: 1.125em
		// font-family: $ff-1
		font-family: $ff-bold
	&-22
		+em(22px)
		font-family: $ff-bold
		// font-family: $ff-1

	&-roboto
		font-family: $ff-ro
	&-gothic
		font-family: $ff-1

.bold
	// font-weight: bold
	font-family: $ff-bold


.margin
	&-row
		margin-left: -15px
		margin-right: -15px
	&-0
		margin: 0
		&_5
			margin: 0 5px
		&_15
			margin: 0 15px
	&-30_a
		margin-top: 30px
		margin-bottom: 30px
	&-r
		&_5
			margin-right: 5px

	&-b
		&_40
			margin-bottom: 40px
		&_90
			margin-bottom: 90px
	&-t
		&_20
			margin-top: 20px
		&_30
			margin-top: 30px


.padding
	&-a
		&_80
			padding-top: 80px
			padding-bottom: 80px
		&_90
			padding-top: 90px
			padding-bottom: 90px
	&-50_80
		padding-top: 50px
		padding-bottom: 80px


.bg
	&-dark
		background-color: $dark
		color: $white
	&-grey
		background-color: $bg-grey

.color
	&-blue
		color: $blue
	&-black
		color: $black



.section
	&-text
		p
			line-height: 24px