// COLORS

$text: #6D6D6D
$copy: #B2B2B2
$bg-grey: #EDEDEE
$grey: #E0E0E4


$dark: #020209
$black: #000
$white: #fff
$white-d: #F7F7F7

$blue: #4C62D7
$yellow: #FFE306
$green: #29DB90


$lg-blue: linear-gradient(293.91deg, #0047FF 31.08%, #693FDF 84.84%)
$lg-blue-act: linear-gradient(293.91deg, #693FDF 31.08%, #0047FF 84.84%)
$lg-yellow: linear-gradient(329.66deg, #FFBB00 19.12%, #FFE500 93.76%)
$lg-purple: linear-gradient(315.3deg, rgba(48, 74, 211, 0.85) 25.93%, rgba(158, 0, 255, 0.85) 89.41%)
$lg-lime: linear-gradient(305.74deg, rgba(39, 42, 253, 0.85) 0.98%, rgba(0, 244, 179, 0.85) 88.13%)

$lg-purple-category: linear-gradient(323.81deg, #304AD3 23.11%, #9E00FF 91.91%)
$lg-lime-category: linear-gradient(314.24deg, rgba(39, 42, 253, 0.85) 0.79%, rgba(0, 244, 179, 0.85) 90.48%)
$lg-yellow-category: linear-gradient(323.74deg, rgba(255, 187, 0, 0.85) 21.28%, rgba(255, 229, 0, 0.85) 91.91%)
$lg-orange-category: linear-gradient(343.12deg, #FF7900 26.42%, #FFB800 88.61%)


$lg-blue-sticker: linear-gradient(329.8deg, #0047FF 20.99%, #693FDF 93.79%)
$lg-star-sticker: linear-gradient(329.8deg, rgba(0, 71, 255, 0.85) 20.99%, rgba(105, 63, 223, 0.85) 93.79%)

$shadow: 0px 6px 10px rgba(0, 0, 0, 0.12)
$shadow-category: 0px 6px 10px rgba(0, 0, 0, 0.15)



$wh: $white


$ff-1: "CenturyGothic", Arial, sans-serif
$ff-ro: "Roboto", Arial, sans-serif
$ff-bold: "CenturyGothic-Bold", Arial, sans-serif

