@import 'mixins'
@import 'vars'


// col    <   576px
// col-sm >=  576px
// col-md >=  768px
// col-lg >=  922px
// col-xl >= 1200px

+w(1225)
	.cart
		&__text
			width: 70%


+w(992)
	body
		font-size: 14px


// +w(992)
	.cart
		&__text
			left: 5%
			bottom: 5%
			width: auto
			padding-right: 10px
			.font-18
				margin-bottom: 5px


// @media only screen and (min-width: 768px) and (max-width: 992px)
	


+mw(768)
	.cart
		&:last-of-type
			margin-bottom: 0