@media only screen and (max-width: 768px) {
  .text-center-sm {
    text-align: center; }

  .w100p-sm {
    width: 100%; }

  #sandwich.active-sandwich .sw-topper {
    margin-bottom: 8px;
    -webkit-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
            transform: rotate(140deg);
    top: 50%; }

  #sandwich.active-sandwich .sw-bottom {
    -webkit-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
            transform: rotate(-140deg); }

  #sandwich.active-sandwich .sw-footer {
    opacity: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

  #sandwich {
    width: 35px;
    height: 100%;
    cursor: pointer;
    z-index: 3;
    position: relative; }
    #sandwich div {
      background-color: #575756; }
    #sandwich .sw-topper {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 3px;
      -webkit-transition: -webkit-transform 0.5s, top 0.2s;
              transition: transform 0.5s, top 0.2s; }
    #sandwich .sw-bottom {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
      transform: translateY(-75%);
      width: 100%;
      height: 3px;
      -webkit-transition: -webkit-transform 0.5s, top 0.2s;
              transition: transform 0.5s, top 0.2s;
      -webkit-transition-delay: 0.2s, 0s;
              transition-delay: 0.2s, 0s; }
    #sandwich .sw-footer {
      position: absolute;
      bottom: 10px;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }

  .sandwich-wrap {
    height: 45px; }

  .logo {
    height: 45px; }

  .menu,
  .search {
    display: none; }

  .menu {
    padding-top: 30px; }
    .menu li {
      margin: 15px 0; } }
