@media only screen and (max-width: 768px) {
  .text-center-sm {
    text-align: center; }

  .w100p-sm {
    width: 100%; }

  .margin-sm-10_0 {
    margin-top: 10px;
    margin-bottom: 10px; }

  .margin-b40 {
    margin-bottom: 10px; }
  .margin-b85 {
    margin-bottom: 35px; }

  #sandwich.active-sandwich .sw-topper {
    margin-bottom: 8px;
    -webkit-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
            transform: rotate(140deg);
    top: 50%; }

  #sandwich.active-sandwich .sw-bottom {
    -webkit-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
            transform: rotate(-140deg); }

  #sandwich.active-sandwich .sw-footer {
    opacity: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

  #sandwich {
    width: 35px;
    height: 100%;
    cursor: pointer;
    z-index: 3;
    position: relative; }
    #sandwich div {
      background-color: #575756; }
    #sandwich .sw-topper {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 3px;
      -webkit-transition: -webkit-transform 0.5s, top 0.2s;
              transition: transform 0.5s, top 0.2s; }
    #sandwich .sw-bottom {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
      transform: translateY(-75%);
      width: 100%;
      height: 3px;
      -webkit-transition: -webkit-transform 0.5s, top 0.2s;
              transition: transform 0.5s, top 0.2s;
      -webkit-transition-delay: 0.2s, 0s;
              transition-delay: 0.2s, 0s; }
    #sandwich .sw-footer {
      position: absolute;
      bottom: 10px;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }

  .sandwich-wrap {
    height: 45px; }

  .logo {
    height: 45px; }

  .slogo {
    font-size: 7px;
    margin: 0 10%; }

  .overline {
    padding: 0;
    margin: 20px 0; }
    .overline:after {
      display: none; }

  .tablinks.italic {
    font-style: normal; }

  .home .header {
    border-bottom: 5px solid #ECECEC; }
  .home .footer {
    border-top: none; }

  .menu,
  .search {
    display: none; }

  .header {
    border-top: 5px solid #C0C0AB; }
    .header .menu {
      padding-top: 30px; }
      .header .menu li {
        margin: 15px 0; }

  .section-margin_big {
    margin-top: 20px;
    margin-bottom: 20px; }
  .section__head .section__under,
  .section__head .post__more {
    display: none; }
  .section__instagram {
    font-size: 10px; }
  .section .trendy {
    clear: both;
    margin: 10px 0; }
    .section .trendy:after, .section .trendy:before {
      content: " ";
      display: table;
      clear: both; }
    .section .trendy__image {
      float: left;
      display: inline-block;
      width: 50%; }
    .section .trendy__content {
      border: none; }
    .section .trendy .post__title {
      position: relative; }
      .section .trendy .post__title:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #C0C0AB;
        top: -7px; }
    .section .trendy .post__more {
      display: none; }
  .section .novidades {
    padding: 0; }
    .section .novidades__image {
      width: 80%; }
    .section .novidades__content {
      position: absolute;
      bottom: 0;
      right: 0; }
    .section .novidades .post__more {
      display: none; }
  .section__novidades .novidades {
    margin: 20px 0;
    padding: 0 15px;
    -webkit-transition: 400ms ease-out;
    transition: 400ms ease-out; }
    .section__novidades .novidades:after {
      top: auto;
      bottom: 0;
      border-left-color: #C0C0AB; }
    .section__novidades .novidades__image {
      width: auto; }
    .section__novidades .novidades__content {
      position: relative;
      margin-left: 0;
      margin-right: 20%; }
    .section__novidades .novidades .post__date {
      display: none; }
    .section__novidades .novidades:hover .post__title {
      color: #fff; }
    .section__novidades .novidades:hover .novidades__content {
      background-color: #C0C0AB; }

  html body .post__date {
    font-size: 0.6875rem; }

  .footer {
    text-align: center;
    padding: 20px 0 0 0;
    background-color: #fff;
    color: #C0C0AB; }
    .footer__header {
      min-height: auto; }
    .footer-last {
      padding: 0; }
    .footer .social {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px 0;
      background: #C0C0AB; }
    .footer .btn-bg_white {
      display: inline-block;
      margin-top: 10px;
      color: #fff;
      background-color: #C0C0AB; }

  .grid-sm-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .grid-sm-1 {
    display: grid;
    grid-template-columns: 1fr; }

  .category {
    text-align: center; }

  .map-wrap {
    margin-right: 0; }

  body {
    font-size: 11px; } }
@media only screen and (min-width: 768px) {
  .arrow-sm-right:after,
  .section__novidades .novidades:after {
    display: none; } }
@media only screen and (min-width: 1600px) {
  .section__trendy .container {
    position: relative; }
  .section__trendy .category__row {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); } }
