@import '_mixins.sass'
@import '_vars.sass'


.form
	.form__label
		color: #5d5c5c
		font-size: 20px
	label, input, textarea
		width: 100%
		display: block
	input, textarea
		border: 1px solid #e6e6e6
		background-color: #f9f9f9