@font-face {
  font-family: "ARKHIP";
  src: url("../fonts/my-fonts/ARKHIP_FONT.OTF"); }
@font-face {
  font-family: "ROBOTO-REGULAR";
  src: url("../fonts/my-fonts/ROBOTOCONDENSED-REGULAR_0.TTF"); }
