/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1305px) {
	.navbar .menu li svg, .navbar .navbar-nav.navbar-right svg{
		height: 21px;
	}
}
@media only screen and (max-width : 1270px) {
	.navbar {
		font-size: 16px;
	}
}
@media only screen and (max-width : 1253px) {
	.navbar .navbar-nav a, .navbar .menu li a {
		padding: 0 10px;
	}
}
@media only screen and (max-width : 1200px) {

}
@media only screen and (min-width : 1200px) {
	.container	{
	    width: calc(1170px - 26%);
	}
}
@media only screen and (max-width : 1120px) {
	.wrap-menu, .menu,.navbar .navbar-nav.navbar-right{
		height: 100% !important;
	}
	.navbar .navbar-nav.navbar-right a {
		line-height: 90px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1070px) {
	/*.sidebar,.slider {
		width: 100%
	}*/
}
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.sidebar,.slider {
		width: 100%
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}