/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
	.top_l {
		max-width: 160px;
	}
}

@media only screen and (max-width : 1200px) {
	.top_l {
		top: 20px;
		max-width: 130px;
	}
	.wrap_partner {
		bottom: -80px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px) {
	.main_partner {
		position: absolute;
	}
}
@media only screen and (max-width : 992px) {
	.s_reviews .ananas {
		position: relative;
		margin-bottom: 600px;
	}
	.s_reviews .ananas img:first-child {
		position: relative;
		float: right;
	}
	.s_photo {
		margin-top: 50px;
	}

	.s_about .palma {
		position: relative;
		margin-bottom: 600px;
		margin-top: 50px;
	}
	.s_about .palma img:first-child {
		position: relative;
		float: left;
	}
	.top-menu {
		position: absolute;
		right: 0;
	}
	.wrap_partner {
		bottom: -230px;
	}
	.s_about {
		margin-top: 300px;
	}
	.s_photo .photo {
		padding: 0;
	}
	/*.s_photo .photo img:last-child {
		display: block !important;
	}
	.s_photo .photo img {
		display: none !important;
	}*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
