.header{
	height: 500px;
}
.categories .container{
	border: 1px solid #ccc;
	height: 100%;
	background-color: #fff; 
}
i{
	cursor: pointer;
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #4c4c4c;
}

.del-all i, .del i{
	color: #007bff;
	cursor: pointer;
}
.del-all a:hover, .del a:hover {
	text-decoration: none;
}

.added, .your-choice, .catalog-popular, .catalog, .producer, .all-catalog{
	border: 1px solid #efeeee;
}

.goods i{
	cursor: pointer;
}
.your-choice span{
	color: #4c4c4c;
	font-size: 18px;
}

.catalog-popular ul li,
.catalog ul li,
.producer ul li,
.all-catalog ul li{
	padding: 12px 0;
}
.catalog-popular ul li a:hover,
.catalog ul li a:hover,
.producer ul li a:hover,
.all-catalog ul li a:hover{
	text-decoration: none;
}

.wraper{
	border: 1px solid #efeeee;
}
.wraper div ul li{
	padding: 5px 0;
}

.wraper div ul li a:hover{
	text-decoration: none;
}
.slider-categories{
	position: relative;
}

.group-nomber{
	position: absolute;
	left: 40px;
	bottom: 20px;
}
.group-nomber p{
	text-align: left;
	line-height: 1em;
	color: #fff;
	letter-spacing: 4px;
}

.carousel-indicators{
	margin-bottom: 0;
}

.wraper img{
	width: 120px;
	height: 130px;
}