body{
	font-family: 'Roboto', sans-serif;
	color: #999;
	background-color: #fbfafa;
	font-weight: 400;
	line-height: 1.6em;
}

.container{
	max-width: 1670px;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	color: #686767;
	letter-spacing: auto;
}

h1{
	font-size: 32px;
	font-weight: 500;
	padding: 20px 0 35px;
	text-transform: uppercase;
}

ul, li, p{
	margin: 0;
	padding: 0;
	display: block;
}

p{
	text-align: center;
}

select, option{
	border: none;
	color: #999;
}

select:active, select:focus{
  	outline:none
}

button{
	border: none;
}

.orange{
	color: #ff943e;
}

.blue{
	background-color: #2299d4;
}


.bold{
	font-weight: 700;
}

.outlined{
	text-decoration: line-through;
}

.fs-12{
	font-size: 0.750em;
}
.fs-14{
	font-size: 0.875em;
}
.fs-16{
	font-size: 1.000em;
}
.fs-18{
	font-size: 1.125em;
}
.fs-20{
	font-size: 1.250em;
}
.fs-22{
	font-size: 1.375em;
}
.fs-24{
	font-size: 1.500em;
}
.fs-40{
	font-size: 2.500em;
}
.fs-60{
	font-size: 60px;
}

.btn-green{
	background-color: #28c234;
	color: #fff;
	width: 40%;
	text-transform: uppercase;
}
.btn-gray:not(:disabled):not(.disabled):focus{
    background-color: #2299d4;
    color: #fff;
}

.red{
	color:  #fb4e4e;
}
.black{
	color: #000;
}

/*section header*/
header{
	background-color: #fff;
}
.navbar{
	display: none;
}

.logo{
	margin-top: 25px;
}

.phone, .menu{
	margin-top: 45px;
	margin-bottom: 40px;
}

.phone select{
	font-weight: 700;
	letter-spacing: 2px;
}

.menu a{
	color: #999;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 2px;
}

.menu__item:first-child{
	padding-left: 92px;
}

.language{
	text-transform: uppercase;
}

.group-buttons{
	background-color: #f7f7f7;
}

.button-menu{
	width: 315px;
}

.button-menu__button{
	height: 60px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
}

.group-buttons .dropdown-menu{
	width: 100%;
}

.menu-list{
	position: absolute;
	width: 1355px;
	top: 0;
	left: 100%;
	z-index: 10;
	background-color: #fff;
	opacity: 0;
	background-color: #f7f7f7;
	height: 100%;
}
.menu-list .menu-list__category li h4{
	padding: 10px 0 15px 30px;
}

.dropdown-item{
	padding-left: 15px;
}
.dropdown-item:hover{
	background: transparent;
}

.dropright-menu:hover{
	background: #f7f7f7;
}
.dropright-menu i{
	color: #bdbcbc;
}

.group-a a{
	text-decoration: underline;
}


.header .carousel-control-prev, .carousel-control-next{
	width: 10%!important;
	color: #ccc !important;
}

.dropright-menu:hover .menu-list{
	opacity: 1;
}


.dropdown-menu form{
	color: #999;
}

.dropdown-menu form a{
	color: #999;
}

.dropdown-menu p{
	color: #999;
}



.menu-list__category li h4{
	font-size: 20px;
}

.cards{
	background-color: #fff;
	padding: 30px 18px 38px 25px;
	width: 90%;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

.cards h3{
	padding-top: 20px;
}

.cards__reviews{
 	padding-top: 15px;
 	padding-bottom: 5px;
 	align-items: center;
}

.cards__reviews i{
	padding-left: 3px;
}
.cards__reviews a{
	padding-left: 6px;
	color: #999;
}

.cards__price{
	align-items: center;
	padding-top: 10px;
}

.cards__price p span{
	color: #4c4c4c;
	font-size: 25px;
	font-weight: 700;
	padding-right: 5px;
}

.cards__price p{
	color: #4c4c4c;
}

.cards__price_sale{
	line-height: 1em;
	padding-top: 0;
}
.cards__price_sale p span{
	color: #fb4e4e;
}

.group-buttons{
	height: 60px;
}

.group-input{
	height: 50px;
	width: 610px;
	border: 1px solid #dadada;
	background-color: #fff;
	margin: 0 auto;
}

.group-input input{
	width: 82%;
	border: none;
	padding-left: 15px;
}

.group-input input::placeholder{
	color: #b9b7b7;
	font-style: italic;
}

.group-input button{
	height: 100%;
	width: 18%;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #dadada;
}
.group-button{
	width: 384px;
}

.btn-gray{
	height: 60px;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	border: 1px solid #dadada;
	color: #7b7b7b;
}

.counter{
	background-color: #2299d4;
	color: #fff;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 51px;
	display: block!important;
}

.group-button .dropdown-menu{
	width: 384px;
	right: 0px !important;
}

.dropdown-menu{
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}



.btn-registration{
	border-radius: 7px!important;
	background-color: #2299d4!important;
	width: 100%!important;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}

.group-button__social button{
	width: 33%;
	height: 10%;
	color: #fff;
}

.group-button__social button:last-child{
	background-color: #cc3731;
}
.group-button__social button:nth-child(2){
	background-color: #3a5a98;
}
.group-button__social button:first-child{
	background-color: #4a86c5;
}

body .background{
	background-color: #8bb7da;
}

.slider-group{
	width: 100%;
	position: relative;
}
.slider-group__blok1{
	position: absolute;
	left: 5%;
	top: 23%;
}
.slider-group__blok1 img{
	padding-top: 25px;
	padding-left: 100px;
	padding-bottom: 22px;
}

.slider-group__blok1 h2{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
.slider-group__blok1 span{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
}
.slider-group__blok1 span:last-child{
	font-size: 60px;
	padding-left: 15px;
}

.carousel-indicators li{
	background-color: #fff;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}
.carousel-indicators .active{
	background: url(../img/dot.png) no-repeat center;
	height: 30px;
	width: 30px;
}

/*the end section header*/

/*section product-line*/
.product-line-container{
	background-color: #fff;
	margin-top: 20px;
	padding-top: 15px;
	position: relative;
	height: 160px;
}

.product-line-container:hover{
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, .1);
}

.desc-product-line{
	width: 50%;
}
.desc-product-line h2{
	padding-top: 10px;
	padding-bottom: 5px;
}

.img-product-line{
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*the end section product-line*/

/*popular-product*/

.popular-product .carousel-indicators li{
	display: none;
}

.popular-product .container{
	border: 1px solid #ccc;
	height: 100%;
	background-color: #fff; 
}

.cards-1{
	background-color: #fff;
	padding: 32px 18px 40px 25px;
	width: 455px;
	height: 280px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
	margin-bottom: 20px;
}

.gruop-cards-1-img{
	width: 100%;
	background-color: #f7e3da;
	height: 97%;
}
.gruop-cards-1__desc{
	width: 60%;
	margin: 45px auto 10px;
}


.cards-1__reviews i, a{
	padding-left: 3px;
}
.cards-1__reviews a{
	padding-left: 5px;
	color: #999;
}

.cards-1__gruop h3{
	padding-bottom: 20px;
}

.cards-1__gruop p span{
	color: #4c4c4c;
	font-size: 25px;
	font-weight: 700;
	padding-right: 5px;
}

.cards-1__gruop p{
	color: #4c4c4c;
	text-align: left;
	padding: 10px 0 20px;
}

.cards-1 .btn-green{
	width: 70%;
}
.gruop-card-1__desc_img{
	color: #fff;
	font-weight: 500;
	letter-spacing: 2px;
}
.gruop-card-1__desc_img h2{
	color: #fff;
}

.popular-product, .sale, .brands, .watched-product, .carousel-control-prev{
	left: -30px !important;
}
.popular-product, .sale, .brands, .watched-product, .carousel-control-next{
	right: -30px !important;
}

.carousel-control-prev, .carousel-control-next{
	width: 5%!important;
	color: #ccc !important;
}

/*the end popular-product*/

/*section sale*/

.sale .carousel-indicators li{
	display: none;
}

.menu-second__item a{
	color: #999;
	font-size: 19px;
	padding: 16px 18px;
}

.active-btr a{
	background-color: #2299d4;
	color: #fff;
}

.sale .container{
	border: 1px solid #ccc;
	background-color: #fff; 
}

.border{
	border: 1px solid;
}

.sale .container .cards{
	margin: 30px 0;
	width: 100%;
}

/*the end section sale*/

/*section brands*/
.brands .carousel-indicators li{
	display: none;
}

.brands .container{
	border: 1px solid #ccc;
	height: 100%;
	background-color: #fff; 
}
.brands .gruop-cards-1-img{
	background-color: #1a212b;
}

/*the end section brands*/

/*watched-product*/

.watched-product .carousel-indicators li{
	display: none;
}
.watched-product .container{
	border: 1px solid #ccc;
	height: 100%;
	background-color: #fff; 
}

.watched-product .container .cards{
	margin: 30px 0;
	width: 100%;
}
.watched-product nav{
	display: none;
}

/*the end watched-product*/

/*product-list*/
.product-list .container{
	border: 1px solid #ccc;
	height: 100%;
	background-color: #fff; 
}

.product-list .product-list__item ul li{
	padding: 5px;
}
.product-list .product-list__item ul li a{
	color: #2299d4;
	text-decoration: none;
}
.product-list .product-list__item ul li a:hover{
	color: #2779a2;
}

.product-list__item ul:last-child{
	padding-right: 20px;
}

/*the end product-list*/

/*description*/

.description-content{
	border-left: 3px solid #d7d7d7;
	padding: 20px;
}
.description-content h3, p{
	line-height: 1.8em;
}

.description-content p{
	text-align: start;
	padding-top: 15px;
}

#toggle{
display:none;
}

/*the end description*/

/*footer*/
.footer{
	background-color: #ededed;
}

.footer .footer-list__item ul li{
	padding: 5px;
}

.footer-list__item a{
	color: #7b7b7b; 
}

.footer-list__icon_soc li{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 15px;
}

.footer-list__icon_soc li:first-child{
	background-color: #3a5a98;
}
.footer-list__icon_soc li:nth-child(2){
	background-color: #527fa2;
}
.footer-list__icon_soc li:nth-child(3){
	background-color: #d42428;
}
.footer-list__icon_soc li:nth-child(4){
	background-color: #13b3ca;
}
.footer-list__icon_soc li:nth-child(5){
	background-color: #cc3731;
}
.footer-list__icon_soc li:last-child{
	background-color: #4a86c5;
}

.footer .footer-list__icon_soc li i{
	color: #fff;
}



/*the end footer*/
@media only screen and (max-width: 1650px) {
    body {
        zoom: 90%;
    }
}

@media only screen and (max-width: 1550px) {
    body {
        zoom: 80%;
    }
}

@media only screen and (max-width: 1500px) {
    body {
        zoom: 75%;
    }
    .cards-1 {
    width: 450px;
	}
    
}

@media only screen and (max-width: 1400px) {
    body {
        zoom: 65%;
    }
    .cards-1 {
    width: 445px;
	}
    
}

@media only screen and (max-width: 1300px) {
    body {
        zoom: 60%;
    }
    .cards-1{
    	width: 435px;
    }
   
}

@media only screen and (max-width: 1024px) {
    body {
        zoom: 100%;
        line-height: 1em;
    }
    .container{
    	width: 960px;
    }
    .phone{
    	margin-bottom: 20px;
    	margin-left: 40%;
    }
    .menu{
    	margin: 20px;
    }
    .button-menu{
    	width: 25%;
    }

    .group-input{
    	width: 40%;
    }
    .group-button{
    	width: 25%;
    }
    .btn-gray{
    	width:100%;
    }

    .slider-group__blok1{
    	width: 30%;
    	top: 15%;
    	left: -10px;
    }
    .gruop-cards-1__desc {
    width: 75%;
    margin: 25px auto 10px;
	}
    
    .slider-group__blok1 img {
    	padding-left: 75px;
    }
    .slider-group__blok1 h2, span{
    	font-size: 20px;
    	padding-left: 15px;
    }
    .slider-group__blok1 span{
    	font-size: 20px;
    }
    .slider-group__blok1 span:last-child{
    	font-size: 30px;
    }

    .desc-product-line h2{
    	font-size: 20px;
    }

    .desc-product-line span{
    	font-size: 10px;
    	padding: 0;
    }
    .img-product-line{
    	right: 10px;
    }
    .gruop-card-1__desc_img h2{
	font-size: 28px!important;
    }
   .menu-second__item a{
   	font-size: 12px;
   	padding: 10px 5px;
   }
   .fs-22{
   	font-size: 20px;
   }
   .fs-18{
   	font-size: 16px;
   }
   .fs-16{
   	font-size: 14px;
   }
   .gruop-cards-img{
   	width: 350px;
   }
   .cards-1{
   	padding: 10px 5px;
   	height: auto;
   	line-height: 1.3em;
   	margin-bottom: 5px;
   	width: 97%;
   }
   .cards-1 .btn-green {
    width: 100%;
	}
   .cards-1__gruop h3{
   	 padding-bottom: 10px;
   }
   .cards-1__gruop p span{
   	font-size: 20px;
   }
   .cards-1__gruop p{
   	padding-bottom: 10px;
   }
   .cards-1__reviews i{
   	font-size: 12px;
   }
   .cards-1__reviews{
   	flex-direction: column;
   }
   .cards{
   	padding: 10px 15px;
   }
   .cards__price p span{
   	font-size: 20px;
   	padding: 0;
   }
   .cards__reviews i{
   	font-size: 12px;
   }
   .cards__price_sale{
   	line-height: 7px;
   }
   .fs-12{
   	font-size: 10px;
   }

   .footer-list__item{
   	padding-left: 10px!important;
   	padding-right: 10px!important;
   }

   .footer-list__icon_soc li{
   	width: 35px;
	height: 35px;
	margin-right: 10px;
   }

   .group-button .dropdown-menu{
   	width: 300px;
   }

	.group-buttons, .button-menu__button, .btn-gray{
	height: 40px;
	}
	.cards__price{
    	flex-direction: column;
    } 
    .btn-green{
    	width: 100%;
    }

    .cards__price span{
		padding-right: 5px !important; 
	}

	.group-input{
		height: 30px;
	}

	.btn-gray{
		padding: 0;
	}

	.btn-gray span{
		font-size: 12px;
		padding: 0;
	}
	.menu-list{
		width: 700px;
	}
	.menu-list__category h4{
		font-size: 18px;
	}
	.menu-list .menu-list__category li h4{
		padding: 8px 0 10px 25px;
	}
	.menu-list__category li h4{
		font-size: 16px;
	}
	.fs-24{
		font-size: 18px!important;
	}
	.right{
	left: -28px !important;
	}
	.counter{
		height: 16px;
		width: 16px;
		top: 3px;
		left: 30px;
	}
	.dropright-menu a{
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
	.header .carousel-control-next{
		width: 12% !important;
	}
	.cards{
		height: 325px;
	}

}
@media only screen and (max-width: 960px) {
    body {
        zoom: 90%!important;
    }
}
@media only screen and (max-width: 870px) {
    body {
        zoom: 80%!important;
    }
}

@media only screen and (max-width: 768px) {
    body {
        line-height: 1em;
    }
    .container{
    	width: 100%;
    }
    .phone{
    	margin-left: 20%;
    }
    .menu__item:first-child{
    	padding-left: 0;
    }
    .menu a{
    	font-size: 18px;
    }
    .btn-gray span{
		display: none;
	}
	.group-button {
    width: 20%;
	}
	.button-menu__button span{
		padding: 0;
	}
	.fs-16{
		font-size: 15px;
	}
    .fs-22{
    	font-size: 18px;
    }

    .carousel-indicators{
    	margin-bottom: -10px !important;
    }
    .desc-product-line span{
    	font-size: 14px;
    }

    .slider-group__blok1{
    	left: 90px;
    	top: 10px;
    }
    .slider-group__blok2{
    	padding-right: 45px;
    }
    .slider-group__blok1 img {
    padding-top: 25px;
    padding-bottom: 12px;
	}

    .pt-3{
    	padding-top: 5px!important;
    }
    .cards{
    	height: 310px;
    }
    .cards-1__gruop p span{
   	font-size: 18px;
   }
   .right{
	left: -75px !important;
	}

	#text{
		display:none;
	}
	#toggle{
		display: block;
		border: none;
		background-color: transparent;
		color: #2299d4;
		font-size: 16px;
		margin: auto;
	}
	#toggle::after{
		content: '\f107';
		padding-left: 5px;
		font-family: "FontAwesome";
	}
	.description-content span{
		font-size: 16px;
	}
	.fs-24{
		font-size: 24px !important;
	}
	.fs-18{
		font-size: 16px;
	}
	.counter{
	top: 2px;
	left: 53px;
	}

}

   
@media only screen and (max-width: 425px) {
    body {
        line-height: 1em;
    }
    .container{
    	width: 100%;
    }
    .product-line{
    	display: none;
    }
    .phone{
    	display: none;
    }
    .logo{
    	margin: 5px auto;
    	width: 50%;
    }
    .button-menu__head{
	opacity: 1;
	}
	.menu{
		flex-direction: column;
	}
	.menu-second{
		flex-direction: column;
	}
	.navbar .navbar-toggler i{
		font-size: 40px;
	}
	.gruop-cards-img {
    width: 100%!important;
	}
	.menu-second__item{
		text-align: center;
		display: none;
	}
	.active-btr {
		display: block!important;
	}
	.active-btr a{
		background-color: transparent;
		color: #999;
	}
	.menu-second__item a{
		font-size: 25px!important;
	}
	.gruop-cards-1:first-child{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
	}
	.gruop-cards-1:last-child{
		display: none;
	}
	.col-12{
		padding-right: 0!important;
	}
	.cards{
		height: 370px;
	}
	.product-list{
		display: none;
	}
	.footer-list__item ul{
		display: none;
	}
	.footer-list__item ul:last-child{
		display: block;
		text-align: center;
		margin: 0 auto;
		padding-top: 25px !important;
	}
	.footer-list__icon_soc li{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
	font-size: 25px;
}

	.footer-list__icon_card, .footer-list__icon_card-title{
		display: none;
	}
	.big-menu{
		display: none;
	}
	.navbar{
	position: absolute;
	top: -75px;
	left: 0;
	display: block;
	}
	.menu li{
		padding: 10px 0;
	}
	.logo{
		margin-bottom: 10px;
		margin-top: 10px!important;
	}
	.group-button{
		position: absolute;
		top: -65px;
		right: 10px;
	}
	.group-button .dropdown i{
		font-size: 30px;
		padding-right: 15px;
	}
	.button-menu .dropdown-menu {
		width: 60%;
	}
	
	.menu-list{
		width: 200px;
		height: auto;
	}
	.menu-list .row .col-md-8 .row{
		flex-direction: column;
	}
	.menu-list .row .col-md-4{
		display: none;
	}

	.btn-gray{
		background-color: transparent;
		border: none;
		color: #999;
	}
	.group-input{
		display: none!important;
	}
	.button-menu{
		width: 100%;
	}
	.button-menu__button{
		background-color: transparent;
		justify-content: flex-start !important;
	}
	.button-menu__button span{
		color: #999;
	}
	.button-menu__button span::after{
		content: '\f105';
		position: absolute;
		right: 10px;
		font-family: "FontAwesome";

	}


	.button-menu__button i{
		display: none;
	}
	.fs-22{
	font-size: 22px;
	letter-spacing: 2px;
	}
	.slider-group__blok1{
		left: 45px;
		top: 0;
		width: 35%;
	}
	h1{
		text-align: center;
	}
	.cards-1{
		flex-direction: column;
		text-align: center;
		padding: 10px;
		width: auto;
	}
	.cards-1:first-child{
		margin-right: 10px;
	}
	.cards-1__gruop p span{
		font-size: 22px
	}
	.cards-1__gruop p{
		text-align: center;
	}
	.cards-1__reviews a{
		display: none;
	}
	.cards__reviews a{
		display: none;
	}
	.cards{
		text-align: center;
	}
	.cards__reviews{
		justify-content: center;
	}

	.carousel-indicators{
		margin-bottom: -10px !important;
	}
	.carousel-control-prev, .carousel-control-next{
		display: none;
	}


	.popular-product, .sale, .brands, .watched-product{
		margin: 10px;
	}

	.dropdown-divider{
		display: none;
	}

	.popular-product .carousel-indicators li{
	background-color: #737373;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	}
	.popular-product .carousel-indicators .active{
	background: url(../img/dot-gray.png) no-repeat center;
	height: 30px;
	width: 30px;
	}
	.popular-product .slide{
		margin-bottom: 20px;
	}
	.popular-product .carousel-indicators{
		margin-bottom: -18px !important;
	}

	.brands .carousel-indicators li{
	background-color: #737373;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	}
	.brands .carousel-indicators .active{
	background: url(../img/dot-gray.png) no-repeat center;
	height: 30px;
	width: 30px;
	}
	.brands .slide{
		margin-bottom: 20px;
	}
	.brands .carousel-indicators{
		margin-bottom: -18px !important;
	}
	.sale .carousel-indicators li{
	background-color: #737373;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	}
	.sale .carousel-indicators .active{
	background: url(../img/dot-gray.png) no-repeat center;
	height: 30px;
	width: 30px;
	}
	.sale .slide{
		margin-bottom: 20px;
	}
	.sale .carousel-indicators{
		margin-bottom: -18px !important;
	}
	.watched-product .carousel-indicators li{
	background-color: #737373;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	}
	.watched-product .carousel-indicators .active{
	background: url(../img/dot-gray.png) no-repeat center;
	height: 30px;
	width: 30px;
	}
	.watched-product .slide{
		margin-bottom: 20px;
	}
	.watched-product .carousel-indicators{
		margin-bottom: -18px !important;
	}
	.none{
		display: none;
	}   
	.gruop-card-1__desc_img span{
		font-size: 16px;
	}
	.gruop-card-1__desc_img h2{
		padding-left: 10px;
	}

	.right{
	left: -110px !important;
	}

	.description-content span{
		font-size: 16px;
	}
	.fs-24{
		font-size: 24px !important;
	}
	.fs-18{
		font-size: 16px;
	}
	.carousel-inner{
		padding: 0 !important;
	}
	.counter{
	top: 2px;
	left: 32px;
	}
	.menu-second__item a::after{
		content: '\f105';
		padding-left: 120px;
		font-family: "FontAwesome";
	}
	.menu-second__item a::before{
		content: '\f104';
		padding-right: 120px;
		font-family: "FontAwesome";
	}
	.px-4{
		padding: 0!important;
	}
	.watched-product nav{
		display: block;
	}

}
@media only screen and (max-width: 320px) {
    .navbar .navbar-toggler i{
		font-size: 35px;
	}
	.navbar{
		top: -65px;
	}
	
	.group-button{
		top: -55px;
	}
	.group-button .dropdown i{
		font-size: 25px;
		padding-right: 20px;
	}
    .footer-list__icon_soc li{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 15px;
	font-size: 25px;
	}
	.counter{
	top: 2px;
	left: 28px;
	}
	.menu-second__item a::after{
		padding-left: 90px;
	}
	.menu-second__item a::before{
		padding-right: 90px;
		
	}
}
